---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "fonts",
  "layout",
  "header",
  "footer",
  "after",
  "disclaimer"
;
