<footer class="footer">
  <div class="hidden-xs">
    <p class="pull-right">&copy; Comicgram 2014</p>
  </div>
  <div id="footer-links-mobile" class="visible-xs">
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="#">Contacto</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="#">Aviso de privacidad</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>&copy; Comicgram 2014</p>
      </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</footer>
