<footer class="footer">
  <div class="hidden-xs">
    <p class="pull-right">&copy; Comicgram 2014</p>
  </div>
  <!-- <div id="footer-links-mobile" class="visible-xs">
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="#">Contacto</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="#">Aviso de privacidad</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>&copy; Comicgram 2014</p>
      </div>
    </div>
  </div> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40108887-2', 'auto');
    ga('send', 'pageview');
  </script>
</footer>
