<footer class="footer">
  <div class="container">
    <div class="pull-left">
      <ul class="list-inline">
        <li>
          <a href="mailto:adrian@comicgram.io">Contacto</a>
        </li>
        <li>&middot;</li>
        <li>
          <a href="/disclaimer">Disclaimer</a>
        </li>
        <li>&middot;</li>
        <li>
          <a href="/privacy">Politica de privacidad</a>
        </li>
      </ul>
    </div>
    <p class="pull-right">&copy; Comicgram 2015</p>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $('#team-link').on('click', function() {
        $('html, body').animate({
          scrollTop: $("#team").offset().top
        }, 1200);
      });
    </script>
    {% include google-analytics.html %}
  </div>
</footer>
