<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="google-site-verification" content="QoZBO5IjsWHA0fLZ0TsZqrCatJzliFoBH4APZh-O1sQ" />
  <link rel="icon" type="image/x-icon" href="/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script src="//load.sumome.com/" data-sumo-site-id="b588803457831f519e3bb08b376daaadca5eb48bb7a39d4ab1b6893252b9be3c" async="async"></script>
</head>
