<header>
  <h1 id="header">Comicgram!</h1>
  <p class="lead">
    El último viernes de cada mes recibe en tu correo una reseña escrita por <a target="_blank" href="https://twitter.com/adrrian17">Adrian Ayala</a>, comparando la historia de un cómic y la película (o películas) basadas en él.
  </p>
  <p class="lead">
    En cada edición podrás encontrar cosas como:
  </p>
  <ul class="lead">
    <li>
      Principales diferencias entre el cómic y la película
    </li>
    <li>
      Una reseña comparando ambas historias
    </li>
    <li>
      Datos curiosos
    </li>
    <li>
      Y más
    </li>
  </ul>
  <p class="lead">
    Echa un vistazo a una de las ediciones anteriores: <a target="_blank" href="http://eepurl.com/bacoEr">Comicgram #3</a>
  </p>
</header>
