<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#team">Team</a>
        </li>
        <li>
          <a href="/archive">Archive</a>
        </li>
      </ul>
      <ul id="language-menu" class="nav navbar-nav nav-bar navbar-right">
        <li>
          <a href="/en">English</a>
        </li>
        <li>
          <a href="/es">Spanish</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
