<div id="team" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <p class="lead text-center">
        <strong>Conoce al equipo detrás del proyecto.</strong>
      </p>
      <div id="team-members" class="row">
        <div class="member col-sm-3 text-center">
          <img class="img-circle" src="/img/daniel.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h3>Daniel Martínez</h3>
          <p><a target="_blank" href="https://twitter.com/bitdmt">@bitdmt</a></p>
        </div>
        <div class="member col-sm-3 text-center">
          <img class="img-circle" src="/img/vallejo.png" alt="José Vallejo" style="width: 140px; height: 140px;">
          <h3>José Vallejo</h3>
          <p><a target="_blank" href="https://twitter.com/jvallejog">@jvallejog</a></p>
        </div>
        <div class="member col-sm-3 text-center">
          <img class="img-circle" src="/img/gonzalo.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h3>Gonzalo Briones</h3>
          <p><a target="_blank" href="https://twitter.com/gonz_briones">@gonz_briones</a></p>
        </div>
        <div class="member col-sm-3 text-center">
          <img class="img-circle" src="/img/adrian.jpg" alt="Adrian Ayala" style="width: 140px; height: 140px;">
          <h3>Adrian Ayala</h3>
          <p><a target="_blank" href="#">@adrrian17</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
