#content {
  max-width: 700px;
  padding-top: 30px;

  h2 {
    font-family: 'Komika Title';
    color: rgba(241, 196, 15,1.0);


    &:first-letter  {
      font-size: 50px;
    }
  }

  a {
    font-size: 20px;
    font-family: 'Komika Title';
    color: rgba(241, 196, 15,1.0);
  }

  .last-paragraph {
    margin-top: 40px;
  }
}
