#content {
  max-width: 700px;
  padding-top: 30px;

  h2 {
    font-family: 'Komika Title';
    color: rgba(241, 196, 15,1.0);
    text-shadow: 3px 3px rgba(55,55,55,1.0);

    .capital-letter  {
      font-size: 50px;
    }
  }

  a {
    font-size: 35px;
    font-family: 'Steelfish Regular';
    color: rgba(55,55,55,1);
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(241, 196, 15,1.0);

    &:hover {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }

    &:active {
      text-decoration: none;
    }
  }
}

#last-form {
  background-color: rgba(44, 62, 80,1.0);
  margin-top: 40px;
  padding-bottom: 40px;
  color: white;

  h2 {
    color: rgba(241, 196, 15,1.0);
    font-family: 'Komika Title';
  }
}
