#disclaimer {
  h1 {
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: 'Komika Title';
    color: rgba(241, 196, 15,1.0);
    text-shadow: 3px 3px rgba(55,55,55,1.0);

    &:first-letter {
      font-size: 70px;
    }
  }
}
