#disclaimer-content {
  h1 {
    margin-top: 170px;
    margin-bottom: 20px;
    font-family: 'Komika Title';
    color: #f1c40f;

    &:first-letter {
      font-size: 70px;
    }
  }

  p {
    margin: 10px 0 20px 25px;
    font-size: 17px;
  }
}
