@font-face {
  font-family: 'Komika Title';
  src: url('../fonts/komtita_-webfont.eot');
  src: url('../fonts/komtita_-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/komtita_-webfont.woff2') format('woff2'),
       url('../fonts/komtita_-webfont.woff') format('woff'),
       url('../fonts/komtita_-webfont.ttf') format('truetype'),
       url('../fonts/komtita_-webfont.svg#komika_title_-_shadowregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Steelfish Regular';
  src: url('../fonts/steelfish rg-webfont.eot');
  src: url('../fonts/steelfish rg-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/steelfish rg-webfont.woff2') format('woff2'),
       url('../fonts/steelfish rg-webfont.woff') format('woff'),
       url('../fonts/steelfish rg-webfont.ttf') format('truetype'),
       url('../fonts/steelfish rg-webfont.svg#steelfishregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?l8txvw');
	src:url('../fonts/icomoon.eot?#iefixl8txvw') format('embedded-opentype'),
		url('../fonts/icomoon.woff?l8txvw') format('woff'),
		url('../fonts/icomoon.ttf?l8txvw') format('truetype'),
		url('../fonts/icomoon.svg?l8txvw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e601";
}

.icon-instagram:before {
	content: "\e600";
}

.icon-facebook2:before {
	content: "\ea8d";
}
