header {
  padding-bottom: 50px;
  background-color: rgba(241, 196, 15,1.0);

  .container {
    width: 780px;

    @media (max-width: 768px) {
      max-width: 350px;
    }

    #main-title {
      text-align: center;
      font-family: 'Komika Title';
      color: rgba(55,55,55,1);


      &:first-letter  {
        font-size: 70px;
      }
    }

    .btn {
      margin-top: 10px;
    }
  }
}
