header {
  margin-top: 25%;
  margin-bottom: 50px;
}

#header {
  text-align: center;
  font-size: 50px;
  font-family: 'Komika Title';
  color: #f1c40f;
}

#header:first-letter  {
  font-size: 80px;
}
