header {
  @media (min-width: 768px) {
    margin-top: 10%;
  }

  margin-bottom: 50px;

  li {
    list-style-image: url('/img/bullet-icon.png')
  }
}

#header {
  text-align: center;
  font-family: 'Komika Title';
  color: #f1c40f;
}

#header:first-letter  {
  font-size: 70px;
}
